# Assignment 1 Solution

<b> 1. In the below elements which of them are values or an expression? eg:- values can be integer or string 
and expressions will be mathematical operators. </b>

* 
'hello'
-87.8
- 
/ 
+	
6 
Answer:
* is an operator
'hello' is a string/expression
-87.8 is a float/expression
- is an operator
/ is an operator
+ is an operator
6 is an integer/expression

<b> 2. What is the difference between string and variable?</b> 

**Answer:** A variable is a type of basket where an information can be stored. A string is type of information which can be stored in a variable. The other type of information that can be stored in a variable is: integer, float, complex number. A string is differentiated from other variables by use of single quote or doube quote. For example: "India" is an example of string.

<b> 3. Describe three different data types. </b>

<b>Answer:</b> Three type of data types are: 
a. Int : Here we consider all types of integer number (positive/negative/zero).
b. Float: this consists of positive or negative decimal numbers.
c. Complex: This consits of two parts: real part and imaginary part. The fomat is a+bj where a is the real part and b
is the imaginary part.

In [ ]:
# example of int
a=43
print(type(a))

In [ ]:
# example of float
b=32.65
print(type(b))

In [ ]:
# example of complex number
c=5+2j
print(type(c))

<b>4. What is an expression made up of? What do all expressions do?</b>

<b>Answer:</b> An expression consists of operands and operators. The purpose of an expression is to produce a result. When there are more than one operators such as +, -, *, / , parenthesis, the sequence in which these operators are executed is governed by BODMAS rule. An example is shown below:

In [ ]:
3*4+6/2*(8-5) # This is an example of expression.

<b> 5.This assignment statements, like spam = 10. What is the difference between an expression and a statement?
    
Answer: </b> An expression is a combination of operands,variables and operators. Whenever we want to execute an expression, we type it in the prompt and the python interpreter evaluates and gives us the result or value of the result. Whereas a statement is a set of code which either creates or defines a variable or displays a value. For example a print function is a statement which prints whatever the user asks it to. Please refe examples below:

In [2]:
2*25-33 # this is an expression
count_number=12 # this is a statement as it defines a variable
print("My coding is improving by practice.") # this is a statement as it prints what the user asks it to.

My coding is improving by practice.

<b> 6.After running the following code, what does the variable bacon contain? </b>


bacon = 22

bacon + 1

**Ans:** Initially, the variable bacon is set to 22 .The expression bacon + 1 does not reassign the value in bacon. If we wish to reassign the value to bacon then we need to use an expression: bacon=bacon+1.

In [4]:
bacon=22 #initially the variable bacon is assigned value of 22
print(bacon + 1) # though this statement gives 23 as result, the value of variable bacon is still 22.

23

<b>7. What should the values of the following two terms be? <b>
    
'spam' + 'spamspam'
    
'spam' * 3

In [5]:
'spam' + 'spamspam'

'spamspamspam'

In [6]:
'spam' * 3

'spamspamspam'

<b>8. Why is eggs a valid variable name while 100 is invalid? </b>

<b> Answer: </b> As per python rules, the names of variables has certain restrictions, which are as follows:
1. Variable name must start with a letter or the underscore character.
2. Variable name cannot start with a number.
3. Variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, & _ ).
4. Variable names are case-sensitive (`EGG`, `Egg` and `egg` are three different variables).
5. The reserved words(keywords) cannot be used naming the variable.

<b> 9. What three functions can be used to get the integer, floating-point number, or string version of a value?
    
Answer: </b> The `int()` functions will evaluate to the integer,
`float()` will evaluate to floating-point number,
and `str()` will evaluate to string version of the value passed to them.

<b> 10. Why does this expression cause an error? How can you fix it? </b>

'I have eaten ' + 99 + ' burritos.'

In [8]:
#'I have eaten ' + 99 + ' burritos.' # This will give an error because a string cannot be added to an integer

In [9]:
'I have eaten ' + str(99) + ' burritos.' # we can covert the integer 99 to string type and then add the three strings.

'I have eaten 99 burritos.'