### Solutions Assignment 4

<b>1. What exactly is `[ ]`?</b>

<b>Answer:</b> This is the symbol for an empty list (a list with no elements in it).

<b>2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)</b>

<b>Answer:</b>

In [1]:
spam=[2,4,6,8,10]

In [2]:
# to assign the value 'hello' at the third location, i will use following command:
spam[2]='hello' # I am inserting 'hello' and 2nd index which is the third position in the given list.

In [3]:
spam

[2, 4, 'hello', 8, 10]

<b>Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.</b>

<b>3. What is the value of spam[int(int('3' * 2) / 11)]?</b>

<b>Answer:</b> Please refer below:

In [7]:
spam=['a','b','c','d']
spam[int(int('3'*2)/11)] # integer value of '3'*2 is 33. Integer value of 33/11 is 3. spam[3] means the element found at 
# index 3 of the list ['a','b','c','d'] which is element 'd'.

'd'

<b>4. What is the value of spam[-1]?</b>

<b>Answer:</b> Please refer below:

In [8]:
spam[-1] # This gives the element at -1 index of the list spam. -1 is the first element considered from right 
# end of the list.

'd'

<b>5. What is the value of spam[:2]?</b>

<b>Answer:</b> Please refer below:

In [71]:
spam[:2] # these gives the element starting from index 0 of the list spam till index 2 
# (element at index 2 is not considered)

['a', 'b']

<b>Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.</b>

In [10]:
bacon=[3.14,'cat',11,'cat',True]

<b>6. What is the value of bacon.index('cat')?</b>

<b>Answer:</b> Please refer below:

In [11]:
bacon.index('cat') #this gives the index of first occurence of the string 'cat'

1

<b>7. How does bacon.append(99) change the look of the list value in bacon?</b>

<b>Answer:</b> Please refer below:

In [27]:
bacon=[3.14,'cat',11,'cat',True]

In [28]:
bacon.append(99)
bacon

[3.14, 'cat', 11, 'cat', True, 99]

<b>8. How does bacon.remove('cat') change the look of the list in bacon?</b>

<b>Answer:</b> Please refer below:

In [29]:
bacon.remove('cat') # This removes first occurence of the string 'cat' from the list bacon.

In [30]:
bacon

[3.14, 11, 'cat', True, 99]

<b>9. What are the list concatenation and list replication operators?</b>
<b>Answer: </b> The operator for list concatenation is `+` and the operator for list replication is `*`. # Please refer
    #example below:

In [31]:
list_1=['a','b','c','d']
list_2=['e','f','g']
list_1+list_2 #contatination operation

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [32]:
list_1*2 #replication operation of list_1

['a', 'b', 'c', 'd', 'a', 'b', 'c', 'd']

<b>10. What is difference between the list methods append() and insert()?<b>

<b>Answer:</b> The append method appends an element at the end of a list whereas the insert method can be used to insert any element at a partical location. The following example illustrates this:

In [49]:
list_1=['a','b','c','d']
list_1.append('hello')# this operation appends the string 'hello' at the end of the list.
list_1

['a', 'b', 'c', 'd', 'hello']

In [50]:
list_1.insert(2,"iNeuron") # this operation inserts word 'iNeuron' at index 2 of the list.
list_1

['a', 'b', 'iNeuron', 'c', 'd', 'hello']

<b>11. What are the two methods for removing items from a list?</b>
    
<b>Answer:</b> There are many methods to remove items from a list. They are `pop` and `del`,`remove`,`clear`. Please refer examples below:

In [42]:
list_1=['a','b','c','d']
list_1.pop(0) # This operation removes the element at the mentioned index in the pop command.Here it has removed
 # element from index 0 in list_1.

'a'

In [47]:
list_1.remove('b') # We can use `remove` command to remove a particular element in the given list.
list_1

[]

In [46]:
del list_1[1] # We can remove an element at a particular index by using `del` method.
list_1

['b']

In [48]:
list_2=['e','f','g','h','i','j','k'] # we can also delete a series of elements by using del command.
del list_2[1:3] # here the elements from index 1 and index 2 are deleted from the list.
list_2

['e', 'h', 'i', 'j', 'k']

<b>12. Describe how list values and string values are identical.</b>
    
<b>Answer:</b> The list values and string values are identical in following ways:
1. They both can be passed to len() function.
2. They both have indexes and can be sliced within a given index range.
3. They both can be used in 'for' loops.
4. They both can be concatinated as well as replicated.
5. We can use `in` operator and `not in` operators in both list values and in string values.

In [51]:
list_1=['a','b','c','d','e','f','g','h','i','j','k'] # finding length of a list.
len(list_1)

11

In [52]:
a='iNeuron'# finding length of a string.
len(a)

7

In [54]:
del list_1[1:3] # Deleting elements from a list or slicing a list.
list_1

['a', 'f', 'g', 'h', 'i', 'j', 'k']

In [56]:
a[1:5] # Slicing elements from a string.

'Neur'

In [57]:
list_1=['a','b','c','d','e','f','g','h','i','j','k']
for i in list_1: # implementing for loop in a list.
    print(i,end=" ")

a b c d e f g h i j k

In [58]:
a='iNeuron'
for i in a: # implementing for loop in a string.
    print(i,end=' ')

i N e u r o n

In [59]:
list_1=[1,2,3]
list_2=[4,5,6]
list_1+list_2 #concatinating lists.

[1, 2, 3, 4, 5, 6]

In [60]:
a='iNeuron'
b="fsds"
a+b # concatinating strings.

'iNeuronfsds'

In [61]:
list_1*2 # replicating a list.

[1, 2, 3, 1, 2, 3]

In [62]:
a*2 # replicating a string.

'iNeuroniNeuron'

In [63]:
1 in list_1 # using `in` method to find if an element exists in the given list.

True

In [65]:
10 not in list_1 # using 'not in' method in a list.

True

In [67]:
 'i' in a # checking if an element exists in a string

True

In [68]:
'z' not in a # checking if an element does not exist in a string

True

<b>13. What's the difference between tuples and lists?</b>
<b>Answer:</b> The main difference between tuples and lists is that tuples are `immutable` whereas the lists are `mutable`. Tuples are represented by `()` whereas the list is represented by `[]`. It is important to note that both lists and tuples are `indexable` and `slicable`.

<b>14. How do you type a tuple value that only contains the integer 42?</b>
    
<b>Answer:</b> We have to use a comman after 42 if we want the data type to be a tuple. Otherwise the data type is considered as an integer. Please refer below:

In [69]:
x=(42) # with only a single integer, the type class is int
type(x)

int

In [70]:
y=(42,) # with only a single integer followed by a comma, the type class is tuple.
type(y)

tuple

<b>15. How do you get a list value's tuple form? How do you get a tuple value's list form?</b>
<b>Answer:</b> We have to use tuple() and list() functions. Please refer below:

In [74]:
list_1=[1,2,3]
b=tuple(list_1) # changing list to a tuple.
b

(1, 2, 3)

In [75]:
a=(5,6,7,8)
c=list(a) # changing tuple to a list.
c

[5, 6, 7, 8]

<b>16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?</b>


<b>Answer</b> Variables that 'contain' list contain references to list value.

<b>17. How do you distinguish between copy.copy() and copy.deepcopy()?</b>
<b>Answer:</b> A shallow copy creates a new object which stores the reference of the original elements. A deep copy creates a new object and recursively adds the copies of nested objects present in the original elements. Please see example below:

In [76]:
import copy
old_list=[[1,2,3],[4,5],[8,9]]
new_list=copy.copy(old_list)

In [77]:
print("Old list: ",old_list)

Old list:  [[1, 2, 3], [4, 5], [8, 9]]

In [78]:
print("New list: ",new_list)

New list:  [[1, 2, 3], [4, 5], [8, 9]]

In [79]:
old_list.append([99,100,105])

In [80]:
old_list

[[1, 2, 3], [4, 5], [8, 9], [99, 100, 105]]

In [81]:
new_list

[[1, 2, 3], [4, 5], [8, 9]]

In the above program, we created a shallow copy of old_list. The new_list contains references to original nested objects stored in old_list. Then we add the new list i.e [99, 100, 105] into old_list. This new sublist was not copied in new_list. However, when you change any nested objects in old_list, the changes appear in new_list.

In [82]:
import copy
old_list=[[1,2,3],[4,5],[8,9]]
new_list=copy.copy(old_list)
old_list[1][1]='Hello'
print("Old list: ",old_list)

Old list:  [[1, 2, 3], [4, 'Hello'], [8, 9]]

In [83]:
print("New list: ",new_list)

New list:  [[1, 2, 3], [4, 'Hello'], [8, 9]]

In the above program, we made changes to old_list i.e old_list[1][1] = 'Hello'. Both sublists of old_list and new_list at index [1][1] were modified. This is because, both lists share the reference of same nested objects.

In [86]:
import copy
old_list=[[1,2,3],[4,5],[8,9]]
new_list=copy.deepcopy(old_list)
print("Old list: ",old_list)

Old list:  [[1, 2, 3], [4, 5], [8, 9]]

In [87]:
print("New list: ",new_list)

New list:  [[1, 2, 3], [4, 5], [8, 9]]

In the above program, I have used deepcopy() function to create copy which looks similar.

However, if I make changes to any nested objects in original object old_list, I will see no changes to the copy new_list.

In [88]:
import copy

old_list=[[1,2,3],[4,5],[8,9]]
new_list = copy.deepcopy(old_list)

old_list[1][0] = 'iNeuron'

print("Old list:", old_list)

Old list: [[1, 2, 3], ['iNeuron', 5], [8, 9]]

In [89]:
print("New list:", new_list)

New list: [[1, 2, 3], [4, 5], [8, 9]]

In the above program, when I assign a new value to old_list, I can see only the old_list is modified. This means, both the old_list and the new_list are independent. This is because the old_list was recursively copied, which is true for all its nested objects.